@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root{
    /*Fontes*/
    --calculdora: 'Roboto', sans-serif;
}

body{
    padding: 0px;
    top: 0;
    left: 0;
    margin: 0;
    background-image: url("../images/background.jpg");
    background-size: 100%, 100%;
    
}

.corpo{
    height: 600px;
    width: 400px;
    margin: 7% auto 10px auto;
    padding-top: 10px;
    padding-bottom: 25px;
    border-radius: 10px;

    background-color: rgba(25, 2, 47, 0.089);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
}

.visor{
    margin: 0px auto 6px auto;
    padding-top: 100px;
    height: 30px;
    width: 380px;
    border-radius: 10px 10px 0px 0px;
    text-align: right;

    background-color: rgba(25, 2, 47, 0.055);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
}

.visor-text{
    display: block;
    font-family: var(--calculdora);
    font-size: 3em;
    color: white;

    transform: translate(-7px,-25px);
}

.antecessor{
    display: block;
    font-family: var(--calculdora);
    color:  white;
    transform: translateY(-130px);
    font-size: 1.2em;
    margin-right: 7px;
}

.tecla{
    position: relative;
    align-items: center;
    justify-content: center;
}

.teclas{
    font-family: var(--calculdora);
    color: white;
    font-size: 1.5em;

    display: inline-flex;
    margin: 3px 1px;
    height: 90px;
    width: 90px;
    align-items: center;
    justify-content: center;
    border-width: 0px;

    background-color: rgba(25, 2, 47, 0.055);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);

    cursor: pointer;
    
    transition: 0.45s;
}

.teclas:hover{
    background-color: rgba(25, 2, 47, 0.37);
    filter: drop-shadow(2px 7px 10px rgba(0, 0, 0, 0.658));
    filter: drop-shadow(-2px 0px 10px rgba(0, 0, 0, 0.658));
}

.esquerda{
    margin-left: 11px;
}